:root {
  --font-family: "Jost", sans-serif;
  --second-family: "DM Serif Display", sans-serif;
  --title-color: #292f36;
  --info-color: #4d5053;
  --main-color: #cda274;
}
body {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
}
.container {
  width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
  @media screen and (min-width: 320px) {
    width: 100%;
  }
  @media screen and (min-width: 480px) {
    width: 100%;
  }
  @media screen and (min-width: 768px) {
    width: 100%;
  }
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}
header {
  padding-top: 26px;
  padding-bottom: 18px;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-container .nav-list {
  display: flex;
  column-gap: 40px;
}
.header-container .nav-list .nav-link {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--title-color);
  transition: all 350ms ease;
}
.header-container .nav-list .nav-link:hover {
  color: var(--main-color);
}

.hero {
  padding-top: 195px;
  padding-bottom: 260px;
  background: url("./images/hero.png") no-repeat center;
  background-size: cover;
  @media screen and (min-width: 320px) {
    padding-top: 150px;
    padding-bottom: 200px;
  }
}
.hero .hero-title {
  width: 595px;
  margin-bottom: 20px;
  font-family: var(--second-family);
  font-size: 80px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0em;
  color: var(--title-color);
  @media screen and (min-width: 320px) {
    width: auto;
    font-size: 39px;
  }
}
.hero .hero-info {
  width: 577px;
  margin-bottom: 35px;
  font-size: 22px;
  line-height: 1.5;
  letter-spacing: 0.01em;
  color: var(--info-color);
  @media screen and (min-width: 320px) {
    width: auto;
  }
}
.hero .hero-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 207px;
  height: 71px;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: var(--title-color);
  border-radius: 18px;
  border: 2px solid var(--title-color);

  transition: all 350ms ease;
}
.hero .hero-btn:hover {
  cursor: pointer;
  transform: scale(1.1);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.hero .hero-btn .btn-arrow {
  margin-left: 21px;
}

.design {
  padding-top: 100px;
  padding-bottom: 100px;

  @media screen and (min-width: 320px) {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
.design .design-list {
  display: flex;
  justify-content: space-between;
  @media screen and (min-width: 320px) {
    display: block;
  }
}
.design .design-list .design-item {
  flex-basis: calc((100% - 2 * 52px) / 3);
  @media screen and (min-width: 320px) {
    margin-top: 20px;
  }
}
.design .design-list .design-item .disign-title {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 25px;
  line-height: 1.56;
  letter-spacing: 0.01em;
  text-align: center;
  color: var(--title-color);
}
.design .design-list .design-item .design-info {
  margin-top: 17px;
  font-size: 22px;
  line-height: 1.5;
  letter-spacing: 0.01em;
  text-align: center;
  color: var(--info-color);
  @media screen and (min-width: 320px) {
    margin-top: 10px;
  }
}
.design .design-list .design-item .design-more {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 27px;
  margin-top: 48px;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--title-color);

  transition: all 350ms ease;

  @media screen and (min-width: 320px) {
    margin-top: 20px;
  }
}
.design .design-list .design-item .design-more:hover {
  color: var(--main-color);
}
.design .design-list .design-item .design-more .icon-arrow {
  margin-left: 6px;
}

.challenging {
  padding-top: 40px;
  padding-bottom: 36px;
}
.challenging .container {
  display: flex;
  justify-content: space-between;

  @media screen and (min-width: 320px) {
    display: block;
  }
}
.challenging .challenging-title {
  width: 450px;
  margin-bottom: 42px;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 50px;
  line-height: 1.3;
  letter-spacing: 0em;
  color: var(--title-color);

  @media screen and (min-width: 320px) {
    font-size: 33px;
  }
}
.challenging .challenging-info {
  width: 530px;
  font-size: 22px;
  line-height: 1.5;
  letter-spacing: 0.01em;
  color: var(--info-color);

  @media screen and (min-width: 320px) {
    width: auto;
    text-align: center;
  }
}
.challenging .contact {
  display: flex;
  align-items: center;
  padding-bottom: 0;
  margin-top: 40px;
}
.challenging .contact .challenging-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 98px;
  height: 98px;
  border-radius: 50%;
  border: none;
  background: #f4f0ec;

  @media screen and (min-width: 320px) {
    width: 70px;
    height: 70px;
  }
}
.challenging .contact .contact-wrapper {
  margin-left: 20px;
}
.challenging .contact .contact-wrapper .call-us,
.tel {
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 0.01em;
  color: var(--info-color);

  @media screen and (min-width: 320px) {
    text-align: center;
  }
}
.challenging .contact .contact-wrapper .tell {
  font-size: 22px;
}
.challenging .challenging-container .challenging-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 263px;
  height: 71px;
  margin-top: 60px;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: var(--title-color);
  border-radius: 18px;
  border: 2px solid var(--title-color);
  transition: all 350ms ease;
  @media screen and (min-width: 320px) {
    margin-top: 30px;
  }
}
.challenging .challenging-container .challenging-btn:hover {
  cursor: pointer;
  transform: scale(1.1);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.challenging .challenging-container .challenging-btn .btn-icon {
  margin-left: 16px;
}
.challenging .challengeing-img {
  display: block;
  @media screen and (min-width: 320px) {
    display: none;
  }
}

.comment {
  padding-top: 140px;
  padding-bottom: 140px;
  @media screen and (min-width: 320px) {
    padding-top: 100px;
    padding-bottom: 100px;

    outline: 1px grey solid !important;
  }
}
.comment .contaner {
  width: 1200px;
  padding: 100px 50px 120px;
  padding-top: 100px;
  padding-bottom: 120px;
  margin: auto;
  background-color: #f4f0ec;
  border-radius: 70px;
}
.comment .comment-title {
  width: 479px;
  margin: auto;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 45px;
  line-height: 1.3;
  letter-spacing: 0em;
  text-align: center;
  color: var(--title-color);
}
.comment .comment-list {
  display: flex;
  column-gap: 17px;
  margin-top: 46px;
}
.comment .comment-list .comment-item {
  width: 354px;
  padding: 35px 75px 45px 35px;
  background-color: #fff;
  border-radius: 30px;
}
.comment .comment-list .comment-item .item-container {
  display: flex;
  align-items: center;
}
.comment .comment-list .comment-item .item-container div {
  margin-left: 20px;
}
.comment .comment-list .comment-item div .list-title {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 25px;
  line-height: 1.5;
  letter-spacing: 0.01em;
  color: var(--title-color);
}
.comment .comment-list .comment-item div .person-location,
.list-text {
  font-style: normal;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.01em;
  color: var(--info-color);
}
.comment .comment-list .comment-item .list-text {
  font-size: 20px;
  margin-top: 25px;
}
.comment .comment-list .comment-item .list-text:last-child {
  width: 274px;
}

.brands-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.projects {
  padding-top: 113px;
  padding-bottom: 140px;
}
.projects .projects-title {
  margin-bottom: 20px;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 47px;
  line-height: 1.32766;
  text-align: center;
  color: var(--title-color);
}
.projects .projects-info {
  width: 768px;
  margin: auto;
  font-size: 22px;
  line-height: 1.5;
  letter-spacing: 0.01em;
  text-align: center;
  color: var(--info-color);
}
.projects .projects-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 70px;
  column-gap: 20px;
  row-gap: 60px;
}
.projects .projects-list .projects-item {
  flex-wrap: calc((100% - 1 * 20px) / 2);
}
.projects .projects-list .projects-item .item-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
}
.projects .projects-list .projects-item .item-container .item-title {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 24px;
  line-height: 1.5625;
  letter-spacing: 0.01em;
  color: var(--title-color);
}
.projects .projects-list .projects-item .item-container .item-type {
  font-size: 22px;
  line-height: 1.5;
  letter-spacing: 0.01em;
  color: #4d5053;
}
.item-more {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  background-color: #f4f0ec;
  border-radius: 50%;

  transition: all 250ms ease-in;
}
.item-more:hover,
.more-icon {
  transform: scale(1.1);
}

.static {
  padding-top: 140px;
  padding-bottom: 140px;
  background: #f4f0ec;
}
.static .static-list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.static .static-list .static-item {
  display: flex;
}
.static .static-list .static-item:not(:last-child)::after {
  content: "";
  display: block;
  width: 1px;
  height: 195px;
  background: var(--main-color);
  margin: 0 55px;
}
.static .static-list span {
  display: block;
  margin: 0 100px;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 85px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--main-color);
}
.static .static-list .static-info {
  font-size: 22px;
  line-height: 1.5;
  letter-spacing: 0.01em;
  text-align: center;
  color: var(--info-color);
}

.blogs {
  padding-top: 143px;
  padding-bottom: 141px;
}
.blogs .blogs-title {
  margin-bottom: 21px;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 48px;
  line-height: 1.3;
  letter-spacing: 0em;
  text-align: center;
  color: var(--title-color);
}
.blogs .blogs-info {
  width: 589px;
  margin: auto;
  font-size: 22px;
  line-height: 1.5;
  letter-spacing: 0.01em;
  text-align: center;
  color: var(--info-color);
}
.blogs .blogs-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 70px;
  column-gap: 20px;
  row-gap: 40px;
}
.blogs .blogs-list .blogs-item {
  padding: 21px 21px 40px;
  border: 1px solid #e7e7e7;
  border-radius: 62px;
  flex-basis: calc((100% - 2 * 20px) / 3);
}
.blogs .blogs-list .blogs-item .type-container {
  position: relative;
}
.blogs .blogs-list .blogs-item .type-container .interior-type {
  position: absolute;
  bottom: 30px;
  left: 24px;
  padding: 9px 10px 11px;
  font-size: 15px;
  line-height: 1.6;
  letter-spacing: 0.01em;
  color: var(--info-color);
  border-radius: 8px 8px 8px 0;
  background-color: #fff;
}
.blogs .blogs-list .blogs-item .item-title {
  margin-top: 15px;
  margin-bottom: 34px;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 25px;
  line-height: 1.4;
  letter-spacing: 0.02em;
  color: var(--title-color);
}
.blogs .blogs-list .blogs-item .data-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.blogs .blogs-list .blogs-item .data-container .blogs-data {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.01em;
  color: var(--info-color);
}
.blogs .blogs-list .blogs-item .data-container .item-more {
  width: 52px;
  height: 52px;
}
.contact {
  padding-bottom: 80px;
}
.contact .container {
  width: 1200px;
  padding-top: 100px;
  padding-bottom: 95px;
  border-radius: 70px;
  background: var(--title-color);
}
.contact .contact-title {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 50px;
  line-height: 1.5;
  letter-spacing: 0em;
  text-align: center;
  color: #fff;
}
.contact .contact-info {
  margin-top: 10px;
  margin-bottom: 31px;
  font-size: 22px;
  line-height: 1.5;
  letter-spacing: 0.01em;
  text-align: center;
  color: #fff;
}
.contact-btn {
  display: block;
  width: 241px;
  height: 71px;
  margin: auto;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.01em;
  text-align: center;
  color: #fff;
  border-radius: 18px;
  border: 2px solid #cda274;
  box-shadow: 1px 0 18px 0 rgba(0, 0, 0, 0.2);
  background-color: #cda274;
}

footer .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
footer .container .footer-descrption {
  width: 326px;
  margin-bottom: 31px;
  margin-top: 15px;
  font-size: 22px;
  line-height: 1.5;
  letter-spacing: 0.01em;
  color: var(--info-color);
}
footer .container .social-media {
  display: flex;
  column-gap: 40px;
}
footer .container .social-media .icon {
  transition: all 350ms ease-in-out;
}
footer .container .social-media .icon:hover {
  transform: scale(1.1);
  fill: var(--main-color);
}
footer .container .footer-list {
  display: flex;
  column-gap: 76px;
}
footer .container .footer-list .footer-item {
  flex-basis: calc((100% - 3 * 76px) / 3);
}
footer .container .footer-list .footer-item .explore {
  width: 150px;
}
footer .container .footer-list .second-item {
  margin-bottom: 30px;
}
footer .container .footer-list .second-item .item-title {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 25px;
  line-height: 1.5;
  letter-spacing: 0.01em;
  color: var(--title-color);
}
footer .container .footer-list .second-item .item-link {
  font-size: 22px;
  line-height: 1.5;
  letter-spacing: 0.01em;
  color: var(--info-color);

  transition: all 350ms ease-in-out;
}
footer .container .footer-list .second-item .item-link:hover {
  color: var(--main-color);
}
footer .container .footer-list .second-item .location {
  display: block;
  width: 321px;
}
footer .copyright {
  display: block;
  margin: auto;
  padding-top: 35px;
  padding-bottom: 36px;
  text-align: center;
}
footer .copyright-link {
  font-size: 22px;
  line-height: 1.5;
  letter-spacing: 0.01em;
  text-align: center;
  color: var(--info-color);
}
footer .copyright-link span {
  color: var(--main-color);
}
